.swatch {
  box-sizing: border-box;
  composes: root from '@components/ui/Button/Button.module.css';
  @apply box-border inline-flex items-center justify-center w-10 h-10 p-0 mr-3 transition duration-150 ease-in-out border shadow-none cursor-pointer select-none bg-primary text-primary border-accent-3;
  margin-right: calc(0.75rem - 1px);
  overflow: hidden;
  width: 48px;
  height: 48px;
}

.swatch::before,
.swatch::after {
  box-sizing: border-box;
}

.swatch:hover {
  @apply text-white transform bg-black lg:scale-110;
}

.swatch > span {
  @apply absolute;
}

.color {
  @apply text-black transition duration-150 ease-in-out;
}

.color :hover {
  @apply text-black;
}

.color.dark,
.color.dark:hover {
  color: white !important;
}

.active {
  @apply text-white bg-black;
  padding-right: 1px;
  padding-left: 1px;
}

.textLabel {
  @apply w-auto px-4;
  min-width: 3rem;
}

.active.textLabel {
  @apply border-2 border-accent-9;
  padding-right: calc(1rem - 1px);
  padding-left: calc(1rem - 1px);
}
