.root {
  @apply relative grid items-start grid-cols-1 gap-1 overflow-x-hidden;
  min-height: auto;
}

.main {
  @apply box-border relative flex flex-col items-start justify-start col-span-1 pb-0 font-bold bg-accent-1;
  min-height: 500px;
}

.sidebar {
  @apply flex flex-col items-start w-full h-full max-w-8xl;
}

.sliderContainer {
  @apply flex items-center justify-center w-full overflow-x-hidden bg-accent-1;
}

.imageContainer {
  @apply relative h-full text-center;
}

.imageContainer > span {
  height: 100% !important;
}

.sliderContainer .img {
  @apply object-cover w-full h-full max-h-full;
}

.button {
  width: 100%;
}

.wishlistButton {
  @apply absolute top-0 right-0 z-30;
}

.relatedProductsGrid {
  @apply grid grid-cols-2 gap-2 py-2 md:grid-cols-4 md:gap-7;
}

@screen lg {
  .root {
    @apply grid-cols-12;
  }

  .main {
    @apply col-span-8 mx-0;
  }

  .sidebar {
    @apply col-span-4 py-6;
  }

  .imageContainer {
    max-height: 600px;
  }
}
