.root {
  @apply relative grid items-start grid-cols-1 gap-1 overflow-x-hidden;
  min-height: auto;
}

.main {
  @apply box-border relative flex flex-col col-span-1 px-0 pb-0;
  min-height: 500px;
}

.header {
  @apply absolute top-0 left-0 z-20 pr-16 transition-colors duration-500 ease-in-out;
}

.header .name {
  @apply w-full max-w-full pt-0 leading-extra-loose;
  font-size: 2rem;
  letter-spacing: 0.4px;
}

.header .name span {
  @apply px-6 py-4 font-bold bg-primary text-primary;
  font-size: inherit;
  letter-spacing: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.header .price {
  @apply inline-block px-6 pt-2 pb-4 text-sm font-semibold tracking-wide bg-primary text-accent-9;
}

.sidebar {
  @apply flex flex-col w-full h-full col-span-1 p-6 mx-auto max-w-8xl;
}

.sliderContainer {
  @apply flex items-center justify-center overflow-x-hidden bg-violet;
}

.imageContainer {
  @apply text-center;
}

.imageContainer > div,
.imageContainer > div > div {
  @apply h-full;
}

.sliderContainer .img {
  @apply object-cover w-full h-auto max-h-full;
}

.button {
  @apply flex items-start justify-start w-full p-3 text-black bg-yellow-300 lg:w-48 rounded-2xl lg:justify-center lg:items-center;
}

.wishlistButton {
  @apply absolute top-0 right-0 z-30;
}

.relatedProductsGrid {
  @apply grid grid-cols-2 gap-2 py-2 md:grid-cols-4 md:gap-7;
}

@screen lg {
  .root {
    @apply grid-cols-12;
  }

  .main {
    @apply col-span-8 mx-0;
  }

  .sidebar {
    @apply col-span-4 py-6;
  }

  .imageContainer {
    max-height: 600px;
  }
}
